main {
    height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 400px;
}

.border-text,
.border-text-register {
    position: relative;
    margin-top: 30px;
    height: 25px;
    border-top: 1px solid black;
    color: black;
}

.border-text::after,
.border-text-register::after {
    content: "Novo por Aqui?";
    position: absolute;
    background-color: white;
    top: -13px;
    left: 33.3%;
    padding: 0 10px;
}

.border-text-register::after {
    content: "Já possui uma conta?" !important;
    left: 28% !important;
}

.forgetPassword{
    text-decoration: none;
}

.forgetPassword:hover {
    text-decoration: underline;
}