@model GalloFlix.DataTransferObjects.LoginDto;
@{
    ViewData["Title"] = "Área Administrador";
}

<div class="text-center">
    <h1 class="display-4">Login</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Área Administrativa</a>.</p>
</div>
