@model GalloFlix.DataTransferObjects.RegisterDto;
@{
  ViewData["Title"] = "Criar Conta";
}

@section Styles {
<link rel="stylesheet" href="~/css/account.css">
}

@* TagHelper - Auxiliar de Tag *@
<form method="post" class="col-md-6 offset-md-3 col-lg-4 offset-lg-4 mt-5">
  <div class="text-center mb5">
  <h1 class="display-4">Criar Conta</h1>
</div>
  <div asp-validation-sumary="All" class="text-danger" hidden ></div>
    <div class="mb-3">
    <label asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control">
    <span asp-validation-for="Name" class="text-danger"></span>
  </div>
    <div class="mb-3">
    <label asp-for="Email" class="form-label"></label>
    <input asp-for="Email" class="form-control">
    <span asp-validation-for="Email" class="text-danger"></span>
  </div>
  <div class="mb-3">
    <label asp-for="DateOfBirth" class="form-label"></label>
    <input asp-for="DateOfBirth" class="form-control">
    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
  </div>
  <div class="mb-3">
    <label asp-for="Password" class="form-label"></label>
    <input asp-for="Password" class="form-control">
    <span asp-validation-for="Password" class="text-danger"></span>
  </div>
    <div class="mb-3">
    <label asp-for="ConfirmPassword" class="form-label"></label>
    <input asp-for="ConfirmPassword" class="form-control">
    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
  </div>
  <button type="submit" class="w-100 btn btn-primary">Criar Conta</button>

  <div class="border-text-register"></div>

  <a asp-action="Login" class="w-100 btn btn-success mt-1">Entrar</a>
</form>

@section Scripts {
<partial name="_ValidationScriptsPartial"></partial>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  let mensagemErro = '';
  $(".validation-sumary-errors ul li").each(function () {
    mensagemErro += $(this).text() + '<br/>'
  });
  if (mensagemErro != '') {
    Swal.fire(
     'Acesso Negado',
     mensagemErro,
     'error'
    );
  }
</script>
}
